<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div id="font" class="brown">
					<h1>Let's<span class="flaticon-heart233"></span> Ask Phrase</h1>
				</div>
				<p>
					This is the community site for leaning.
					It's free to use. Continue on to create your account and start learning a language.
				</p>
				<!-- <%= link_to "create new free account!", signup_path, class: "btn btn-lg btn-primary big-btn" %> -->

				</br>
				<!-- big button -->
				<a class="btn btn-lg btn-huge btn-primary" href="<%= signup_path %>"> <i class="glyphicon glyphicon-user pull-left"></i> <span>Create new account
					<br>
				</span> </a>
				>> Let's get started right away

			</div>

			<div class="col-lg-5">
                <%= render 'sessions/new' %>
			</div>

		</div>
	</div>
</div>
</div>

<div class="container">
	<div class="row">
		<h1>How to use 「Let's<span class="flaticon-heart233"></span> Ask Phrase」 </h2>
		<div class="col-lg-4">
			<div class="logo">
				<h1><span class="flaticon-user87"></span></h1>
			</div>

			<h2>Post a phrase</h2>
			<p id="color" class="container1">
				Post a phrase which you want to be corrected.
				Fill in the language and native language to learn.
			</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<div class="logo">
				<h1><span class="flaticon-people5"></span></h1>
			</div>
			<h2>learn a natural expression</h2>
			<p id="color" class="container1">
				A native speaker teaches you a phrase.
			</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<div class="logo">
				<h1><span class="flaticon-profile22"></span></h1>
			</div>
			<h2>You can communicate</h2>
			<p id="color" class="container1">
				You can also use our site as community site.
				Let's start learning, through make friends.
			</p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</div><!-- container -->

