<% provide(:title, 'Users All') %>
<div id="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1><i class="fa fa-users"></i> Users All</h1>

				<%= will_paginate @users,:renderer => BootstrapPagination::Rails %>

				<ul class="users">

					<%= render @users %>

				</ul>

				<%= will_paginate @users,:renderer => BootstrapPagination::Rails %>
			</div>
		</div>
	</div>
</div>
