<h1><i class="fa fa-envelope"></i> <%= current_user.name %>'s Message Box</h1>

<legend></legend>
<h1>送信メール一覧</h1>

<% @messages.each do |msg| %>
  <li>送信日時:<%= msg.created_at %></li>
  <li>message内容：<%= msg.message %></li>
  <li>送り先id:<%= User.name.post_to_id %></li>
<% end %>







 

