@font-face {
	font-family: "Flaticon";
	src: url("/assets/flaticon.eot");
	src: url("/assets/flaticon.eot#iefix") format("embedded-opentype"),
	url("/assets/flaticon.woff") format("woff"),
	url("/assets/flaticon.ttf") format("truetype"),
	url("/assets/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        //font-size: 20px;
font-style: normal;
//margin-left: 20px;
}.flaticon-audience:before {
	content: "\e000";
}
.flaticon-autumn:before {
	content: "\e001";
}
.flaticon-award18:before {
	content: "\e002";
}
.flaticon-barcode10:before {
	content: "\e003";
}
.flaticon-birds:before {
	content: "\e004";
}
.flaticon-black194:before {
	content: "\e005";
}
.flaticon-black6:before {
	content: "\e006";
}
.flaticon-blowfish:before {
	content: "\e007";
}
.flaticon-book120:before {
	content: "\e008";
}
.flaticon-businessmen32:before {
	content: "\e009";
}
.flaticon-calendar70:before {
	content: "\e00a";
}
.flaticon-car95:before {
	content: "\e00b";
}
.flaticon-carp:before {
	content: "\e00c";
}
.flaticon-carps:before {
	content: "\e00d";
}
.flaticon-chinese3:before {
	content: "\e00e";
}
.flaticon-clover2:before {
	content: "\e00f";
}
.flaticon-couple48:before {
	content: "\e010";
}
.flaticon-dashboard1:before {
	content: "\e011";
}
.flaticon-dwelling1:before {
	content: "\e012";
}
.flaticon-earth53:before {
	content: "\e013";
}
.flaticon-edit2:before {
	content: "\e014";
}
.flaticon-foreign:before {
	content: "\e015";
}
.flaticon-funny:before {
	content: "\e016";
}
.flaticon-github5:before {
	content: "\e017";
}
.flaticon-group60:before {
	content: "\e018";
}
.flaticon-heart233:before {
	content: "\e019";
}
.flaticon-important:before {
	content: "\e01a";
}
.flaticon-information3:before {
	content: "\e01b";
}
.flaticon-japan15:before {
	content: "\e01c";
}
.flaticon-japan20:before {
	content: "\e01d";
}
.flaticon-japan21:before {
	content: "\e01e";
}
.flaticon-japan45:before {
	content: "\e01f";
}
.flaticon-japan53:before {
	content: "\e020";
}
.flaticon-japanese:before {
	content: "\e021";
}
.flaticon-japanese3:before {
	content: "\e022";
}
.flaticon-light1:before {
	content: "\e023";
}
.flaticon-mail59:before {
	content: "\e024";
}
.flaticon-male35:before {
	content: "\e025";
}
.flaticon-man216:before {
	content: "\e026";
}
.flaticon-maneki:before {
	content: "\e027";
}
.flaticon-middle:before {
	content: "\e028";
}
.flaticon-people5:before {
	content: "\e029";
}
.flaticon-phone19:before {
	content: "\e02a";
}
.flaticon-pins50:before {
	content: "\e02b";
}
.flaticon-profile22:before {
	content: "\e02c";
}
.flaticon-receiving:before {
	content: "\e02d";
}
.flaticon-rice1:before {
	content: "\e02e";
}
.flaticon-robot18:before {
	content: "\e02f";
}
.flaticon-saving2:before {
	content: "\e030";
}
.flaticon-social100:before {
	content: "\e031";
}
.flaticon-spades3:before {
	content: "\e032";
}
.flaticon-student48:before {
	content: "\e033";
}
.flaticon-tea6:before {
	content: "\e034";
}
.flaticon-tool9:before {
	content: "\e035";
}
.flaticon-tools3:before {
	content: "\e036";
}
.flaticon-user87:before {
	content: "\e037";
}
.flaticon-video99:before {
	content: "\e038";
}
.flaticon-white6:before {
	content: "\e039";
}
.flaticon-worldwide1:before {
	content: "\e03a";
}
