<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">

		</div>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="navbar-brand" href="<%= allusers_path %>" ><span class="glyphicon glyphicon-user"></span> All users</a>
			</li>
			<li>
				<a><%= current_user.name %></a>

			</li>
			<li>
				<%= gravatar_for current_user %>
			</li>

			<li>
				<%= link_to "Sign out", signout_path, method: "delete" %>
			</li>
		</ul>

	</div>

</header>
