<!-- Sidebar -->

<div class="navbar" role="navigation">
	<div class="navbar-header">
		<ul class="nav nav-pills navbar-nav">
			<li>
				<a href="<%= root_path %>"><i class="glyphicon glyphicon-home"></i> Home</a>
			</li>
			<li>
				<a href="<%= received_messages_path %>">
					<i class="fa fa-envelope"></i> Message Box
					<% if unread(current_user) != 0 then %><span class="badge"><%= unread(current_user) %></span><% end %>
				</a>
			</li>
			<li>
				<a href="<%= allusers_path %>"><i class="fa fa-users"></i> Users All</a>
			</li>
		</ul>
	</div><!-- /.navbar-header -->
</div>
